<p id="notice"><%= notice %></p>

<h1>Books</h1>
<%= link_to "search" , new_search_path %>
<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>info</th>

      <th colspan="20"></th>
    </tr>
  </thead>

<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <tbody>

    <% @books.each do |book| %>
      <tr>

          <% books = GoogleBooks.search('isbn:'+book.ISBN.to_s)%>
          <% first_book = books.first %>

        <td >
          <%= link_to book do %>
           <img src = <%= first_book.image_link(:zoom => 1) %> >
           <%end%>
         </td>
        <td></td>

      </tr>
    <% end %>
  </tbody>
</table>


<br>
