<p id="notice"><%= notice %></p>


<h1 align="center">Online Book Shelf</h1>

<%= link_to "search" , new_search_path %>

<div style="border-left:0px solid #000;height:100px"></div>

<body class = "body">
<div class="scrolling-wrapper">
  <% @books.each do |book| %>
    <% books = GoogleBooks.search('isbn:'+book.ISBN.to_s)%>
    <% first_book = books.first %>

    <div class="card">
      <%= link_to book do %>
      <img src = <%= first_book.image_link(:zoom => 1) %> >
      <%end%>
    </div>
    <% end %>

</div>

</body>
